= form_with url: request.path, method: :get, class: "species-search",
            data: { controller: "form-submission",
                    turbo_frame: "results",
                    turbo_action: "replace" } do |f|
  .input-field
    = f.label :q, "Search"
    = f.text_field :q, value: params[:q],
                       data: { action: "input->form-submission#searchSubmit" }
  .search-bar-buttons
    %a#generation-btn.btn.waves-effect.grey.dropdown-trigger{data: { controller: "dropdown",
                                                                     target: "generation-dropdown",
                                                                     alignment: "right" }}
      %i.material-icons filter_#{cookies[:generation] || "none"}
    %a#filters-btn.btn.waves-effect.grey{data: { controller: "modal", action: "click->modal#open",
                                                 target: "species-filters" }}
      %i.material-icons filter_alt

  #generation-dropdown.dropdown-content
    .generation-widget
      .title Generation
      %hr
      .buttons{"data-controller": "generation-widget"}
        - (3..9).each do |gen|
          %li{class: "gen#{gen}", "data-action": "click->generation-widget#submit"}= gen
        %li.gen-all{"data-action": "click->generation-widget#submit"} All

  #species-filters.modal{"data-controller": "filters"}
    .modal-content
      %h4 Filters

      %h6 EVs yielded:
      #evs-yielded-filters
        .checkboxes
          - PokeLog::Stats.stats.each do |stat|
            %label
              = check_box_tag "filters[yielded][]", stat, filter_checked?("yielded", stat),
                id: "filters_yielded_#{stat}", "data-action": "input->form-submission#submit"
              %span= format_stat stat

      %h6 Amount yielded:
      #amount-yielded-slider{"data-controller": "amount-yielded-slider"}
      -# These checkboxes are essentially acting as hidden inputs because
      -# Materialize hides them in the absence of a label>span wrapper. This is
      -# convenient because they won't show in the URL query string when unchecked
      = check_box_tag "filters[min]", (filter_value("min") || 1),
          filter_value("min").present?, "data-action": "input->form-submission#submit"
      = check_box_tag "filters[max]", (filter_value("max") || 3),
          filter_value("max").present?, "data-action": "input->form-submission#submit"

      -# Types/Weak to:
      - %w[types weak_to].each do |section|
        %h6 #{section.humanize}:
        .checkboxes.types{id: "#{section}_filters"}
          - PokeLog::Types.types.each do |type|
            %label
              = check_box_tag "filters[#{section}][]", type, filter_checked?(section, type),
                              id: "filters_#{section}_#{type}",
                              "data-action": "input->form-submission#submit#{' click->filters#check2Max' if section == 'types'}"
              %span= type.capitalize

    .modal-footer
      %a#clear-filters-btn.waves-effect.waves-teal.btn-flat{"data-action": "click->filters#clear"} Clear All
      %a#filters-close-btn.modal-close.waves-effect.waves-teal.btn-flat Close
