= javascript_include_tag "nouislider.min.js"
= javascript_include_tag "amount_yielded_slider"
= javascript_include_tag "filters"

= form_with url: request.path, method: :get, class: "species-search",
            data: { controller: "form-submission",
                    turbo_frame: "results",
                    turbo_action: "advance" } do |f|
  .input-field
    = f.label :q, "Search"
    = f.text_field :q, value: params[:q],
                       data: { action: "input->form-submission#searchSubmit" }
  = link_to "#species-filters", id: "filters-btn", class: "btn modal-trigger waves-effect grey" do
    %i.material-icons settings
  #species-filters.modal
    .modal-content
      %h4 Filters
      %h6 EVs yielded:
      #evs-yielded-filters
        .checkboxes
          - PokeLog::Stats.stats.each do |stat|
            %label
              = check_box_tag "filters[yielded][]", stat, filter_checked?("yielded", stat),
                id: "filters_yielded_#{stat}", "data-action": "input->form-submission#filterSubmit"
              %span= format_stat stat
      %h6 Amount yielded:
      #amount-yielded-slider
      -# These checkboxes are essentially acting as hidden inputs because
      -# Materialize hides them in the absence of a label>span wrapper. This is
      -# convenient because they won't show in the URL query string when unchecked
      = check_box_tag "filters[min]", (filter_value("min") || 1),
          filter_value("min").present?, "data-action": "input->form-submission#filterSubmit"
      = check_box_tag "filters[max]", (filter_value("max") || 3),
          filter_value("max").present?, "data-action": "input->form-submission#filterSubmit"
      - %w[types weak_to].each do |section|
        %h6 #{section.humanize}:
        .checkboxes.types{id: "#{section}_filters"}
          - PokeLog::Types.types.each do |type|
            %label
              = check_box_tag "filters[#{section}][]", type, filter_checked?(section, type),
                              id: "filters_#{section}_#{type}",
                              "data-action": "input->form-submission#filterSubmit"
              %span= type.capitalize
    .modal-footer
      %a#clear-filters-btn.waves-effect.waves-teal.btn-flat{onclick: "clearAllFilters()"} Clear All
      %a#filters-close-btn.modal-close.waves-effect.waves-teal.btn-flat Close
