- attrs ||= {}

.data-entry[species]{**attrs}
  .id= species.pretty_id
  .main-content
    .top
      .sprite= species.sprite
      .name-form
        .name= species.name
        - if species.has_forms?
          .form #{species.form} #{species.form_desc}
    .yields-and-types
      .yields
        - species.yields.each do |stat, amt|
          .stat{class: stat} #{amt} #{format_stat stat}
      .types
        - species.types.each do |type|
          .type{class: type}
