- provide :title, "EV Yields"
-# TODO: - provide :title, "Pokédex"

%table.striped
  %thead
    %tr
      %th
      %th ID
      %th Name
      %th Atk
      %th Def
      %th Sp.A
      %th Sp.D
      %th Spe
  %tbody
    - Species.all.each do |pkmn|
      - ev_yield = pkmn.ev_yield
      %tr
        %td.center= image_tag "sprites/#{pkmn.id}.png"
        %td= pkmn.id
        %td= pkmn.name
        %td= ev_yield.atk
        %td= ev_yield.def
        %td= ev_yield.spa
        %td= ev_yield.spd
        %td= ev_yield.spe
