- provide :title, "EV Yields"
-# TODO: - provide :title, "Pokédex"

%table.striped
  %thead
    %tr
      %th
      %th ID
      %th Name
      %div
        %th.stats Atk
        %th.stats Def
        %th.stats Sp.A
        %th.stats Sp.D
        %th.stats Spe
  %tbody
    - Species.all.each do |pkmn|
      - ev_yield = pkmn.ev_yield
      %tr
        %td.center= image_tag "sprites/#{pkmn.id}.png"
        %td= pkmn.id
        %td= pkmn.name
        %div
          %td.stats= ev_yield.atk
          %td.stats= ev_yield.def
          %td.stats= ev_yield.spa
          %td.stats= ev_yield.spd
          %td.stats= ev_yield.spe
