- provide :title, "New User"

= javascript_include_tag "form_button_enable"

%p Pick a username to continue! You can change your email address if you would like, we don't store any personal information from your Google account.

= form_with model: @user, url: "/register/submit", data: {turbo: false} do |f|
  = f.hidden_field :credential, value: params["credential"]
  .input-field
    = f.label :username, "Username"
    = f.text_field :username, class: "counter", minlength: 1, maxlength: 20,
                              oninput: "enableRegisterButton()",
                              data: {length: 12, controller: "character-counter",
                                     action: "blur->character-counter#hide"}
  .input-field
    = f.label :email, "Email Address"
    = f.text_field :email, value: @token.email_address,
                           oninput: "enableRegisterButton()"
  %button#register-btn.btn.waves-effect.waves-light{type: "submit", name: "commit", disabled: true}
    Register
    %i.material-icons.right send
