- provide :title, "New User"

= javascript_include_tag "sidenav_init"

%p Pick a username to continue!

= form_with model: @user, url: "/register/submit", data: {turbo: false} do |form|
  = form.hidden_field :credential, value: params["credential"]
  .input-field
    = form.label :username, "Username"
    = form.text_field :username
  .input-field
    = form.label :email, "Email Address"
    = form.text_field :email, value: @token.email_address
  %button#register-btn.btn.waves-effect.waves-light{type: "submit", name: "commit"}
    Register
    %i.material-icons.right send
