.radar-chart{id: id ||= "radar-chart"}
:javascript
  anychart.onDocumentReady(function () {
    // Display a zoomed chart
    var ev_max = #{stats.values.max};
    // ev_max needs to be at least 1 or else the chart will
    // be filled when there are no EVs to show
    if (ev_max < 1) {
      ev_max++;
    }

    var hp = #{stats[:hp]};
    var atk = #{stats[:atk]};
    var def = #{stats[:def]};
    var spa = #{stats[:spa]};
    var spd = #{stats[:spd]};
    var spe = #{stats[:spe]};

    var chart = anychart.radar();

    // 255 needs to be hardcoded here
    chart.tooltip().format(`{%value} / 255`);

    chart.xAxis().labels().enabled(false);
    chart.yAxis().labels().enabled(false);

    chart.yAxis().ticks().enabled(false);

    chart.yScale()
      .maximum(ev_max)
      .ticks({"interval": ev_max / 4});

    chart.area([
      {x: "HP", value: hp},
      {x: "Atk", value: atk},
      {x: "Def", value: def},
      {x: "Spe", value: spe},
      {x: "Sp.D", value: spd},
      {x: "Sp.A", value: spa}
    ]);

    chart.container("#{id}");
    chart.draw();
  });
