.radar-chart{id: id ||= "radar-chart"}
:javascript
  anychart.onDocumentReady(function () {
    // Display a zoomed chart
    var y_max = #{stats.values.max};
    // y_max needs to be at least 1 or else the chart will
    // be filled when there are no EVs to show
    if (y_max < 1) {
      y_max++;
    }

    // `var hp = #{stats[:hp]};`, etc. with Ruby magic
    // (we can't just interpolate these straight into
    //  chart.area() below because of HAML {} limitations)
    #{stats.map { |s, n| "var #{s} = #{n};" }.join}

    var chart = anychart.radar();

    // 255 needs to be hardcoded here
    chart.tooltip().format(`{%value} / 255`);

    chart.xAxis().labels().enabled(false);
    chart.yAxis().labels().enabled(false);

    chart.yAxis().ticks().enabled(false);

    chart.yScale()
      .maximum(y_max)
      .ticks({"interval": y_max / 4});

    chart.area([
      {x: "HP", value: hp},
      {x: "Atk", value: atk},
      {x: "Def", value: def},
      {x: "Spe", value: spe},
      {x: "Sp.D", value: spd},
      {x: "Sp.A", value: spa}
    ]);

    chart.container("#{id}");
    chart.draw();
  });
