<div id="<%= dom_id trainee %>">
  <p>
    <strong>User:</strong>
    <%= trainee.user_id %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= trainee.team_id %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= trainee.species_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= trainee.level %>
  </p>

  <p>
    <strong>Pokerus:</strong>
    <%= trainee.pokerus %>
  </p>

  <p>
    <strong>Start stats:</strong>
    <%= trainee.start_stats %>
  </p>

  <p>
    <strong>Trained stats:</strong>
    <%= trainee.trained_stats %>
  </p>

  <p>
    <strong>Kills:</strong>
    <%= trainee.kills %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= trainee.nature %>
  </p>

  <p>
    <strong>Evs:</strong>
    <%= trainee.evs %>
  </p>

</div>
