- provide :title, "Trainees"

= javascript_include_tag "sidenav_init"
= javascript_include_tag "train_button"

- if @trainees.blank?
  %p.grey-text Nothing to show here. Click the + below to get started!
- else
  %table#trainee-list.highlight
    %tbody
      - @trainees.each do |trainee|
        %tr{class: dom_id(trainee)}
          %td.check
            - if trainee.species
              %label
                = check_box_tag "trainee_ids[]", trainee.id
                %span
          %td.sprite
            - if trainee.species
              = trainee.species.sprite
          %td= link_to trainee.title, trainee_path(trainee)

.align-opposite
  %a#train-btn.waves-effect.waves-light.btn.red
    %i.material-icons.left fitness_center
    Train

  // + button
  = link_to new_trainee_path, id: "new-trainee", class: "btn-floating btn-large waves-effect waves-light red" do
    %i.material-icons add
