- provide :title, "Trainees"
- provide :ads, true

= javascript_include_tag "open_modal"
= javascript_include_tag "pokepaste"
= javascript_include_tag "sidenav_init"
= javascript_include_tag "trainees_index"

- if @trainees.blank?
  %p.grey-text Nothing to show here. Click the + below to get started!
- else
  = render "list", trainees: @trainees

.align-opposite
  .train-and-delete
    %a#train-btn.waves-effect.waves-light.btn.red.disabled
      %i.material-icons.left fitness_center
      Train
    %a#delete-btn.waves-effect.waves-light.btn.red.disabled{onclick: "openModal('delete-multi')"}
      %i.material-icons.left delete
      Delete

  -# + button
  .add-buttons
    %a#add-pokepaste-btn.btn-floating.waves-effect.waves-light.red{onclick: "openModal('add-pokepaste')"}
      %i.material-icons content_paste
    = link_to new_trainee_path, id: "new-trainee", class: "btn-floating btn-large waves-effect waves-light red" do
      %i.material-icons add

#delete-multi.modal
  .modal-content
    %h4 Confirm delete
    %p Are you sure? This will delete the selected trainees permanently.
    %label
      = check_box_tag "confirm-delete-checkbox"
      %span.black-text Yes, I understand and would like to delete these trainees.
  .modal-footer
    %a#cancel-delete.modal-close.waves-effect.waves-teal.btn-flat Cancel
    %a#confirm-delete.modal-close.waves-effect.waves-teal.btn-flat.disabled{onclick: "visitSelectedTrainees('/delete')"}
      Delete

#add-pokepaste.modal
  .modal-content
    %h4 Add from PokéPaste
    .input-container
      .input-field.url
        = label_tag :url, "URL (optional)"
        = text_field_tag :url, nil, placeholder: "https://pokepast.es/",
                         oninput: "updatePaste()"
      .input-field.paste
        %label PokéPaste
        %textarea#paste.materialize-textarea{maxlength: 5000, oninput: "enablePasteButton()"}
      .footer-spacer
  .modal-footer
    %a#cancel-pokepaste.modal-close.waves-effect.waves-teal.btn-flat Cancel
    %a#confirm-pokepaste.modal-close.waves-effect.waves-teal.btn-flat.disabled{onclick: "submitPaste()"} Add
