- trainees_show_title(@trainees).each do |size, title|
  - provide size, title

= javascript_include_tag "character_counter"
= javascript_include_tag "modal_init"
= javascript_include_tag "select_init"
= javascript_include_tag "sidenav_init"
= javascript_include_tag "species_autocomplete"
= javascript_include_tag "update_evs"

#trainees
  - @trainees.each do |trainee|
    = render trainee, trainees: @trainees

- if logged_in?
  #kill-search
    = form_with url: request.path, method: :get,
                data: { controller: "form-submission",
                        turbo_frame: "results",
                        turbo_action: "advance" } do |f|
      .input-field
        = f.label :q, "Search"
        = f.text_field :q, value: params[:q],
                       data: { action: "input->form-submission#submit" }
    .results
      = render "results", results: @search_results

  #delete-modal.modal
    .modal-content
      %h4 Confirm delete
      %p Are you sure? This will delete your trainee permanently.
    .modal-footer
      = form_with model: @trainee, method: :delete, data: {turbo: false} do |f|
        %a#cancel-delete.modal-close.waves-effect.waves-teal.btn-flat Cancel
        = f.submit "Delete", id: "confirm-delete",
            class: "modal-close waves-effect waves-teal btn-flat"
