- trainees_show_title(@party).each do |size, title|
  - provide size, title

= javascript_include_tag "character_counter"
= javascript_include_tag "fixed_action_init"
= javascript_include_tag "modal_init"
= javascript_include_tag "select_init"
= javascript_include_tag "sidenav_init"
= javascript_include_tag "species_autocomplete"
= javascript_include_tag "update_evs"

#trainees
  -# We're listing this way so they appear in order specified by URL
  - @ids.each do |id|
    = render @party.find(id)

- if logged_in?
  .fixed-action-btn
    %a.btn-floating.btn-large.red
      %i.material-icons.large add
    %ul
      %li
        %a.btn-floating.red
          %i.material-icons list
      %li
        = link_to "#{request.path}/new", class: "btn-floating red" do
          %i.material-icons add

  #kill-search
    = form_with url: request.path, method: :get,
                data: { controller: "form-submission",
                        turbo_frame: "results",
                        turbo_action: "advance" } do |f|
      .input-field
        = f.label :q, "Search"
        = f.text_field :q, value: params[:q],
                       data: { action: "input->form-submission#submit" }
    .results
      = render "results", results: @search_results
