- trainees_show_title(@party).each do |size, title|
  - provide size, title

= javascript_include_tag "add_to_party"
= javascript_include_tag "character_counter"
= javascript_include_tag "fixed_action_init"
= javascript_include_tag "modal_init"
= javascript_include_tag "radar_chart"
= javascript_include_tag "select_init"
= javascript_include_tag "sidenav_init"
= javascript_include_tag "species_autocomplete"
= javascript_include_tag "update_evs"

#trainees
  -# We're listing this way so they appear in order specified by URL
  - @ids.each do |id|
    = render @party.find(id)

- if logged_in?
  .fixed-action-btn
    %a#add-action-btn.btn-floating.btn-large.red
      %i.material-icons.large add
    %ul
      %li
        = link_to "#add-to-party-modal", id: "add-to-party-btn",
                                         class: "btn-floating red modal-trigger" do
          %i.material-icons list
      %li
        = link_to "#{request.path}/new", id: "new-trainee-btn",
                                         class: "btn-floating red" do
          %i.material-icons add

  #add-to-party-modal.modal
    .modal-content
      %h4 Add to party
      = render "trainee_list", trainees: @other_trainees
    .modal-footer
      %a#cancel-add-to-party.modal-close.waves-effect.waves-teal.btn-flat Cancel
      %a#confirm-add-to-party.modal-close.waves-effect.waves-teal.btn-flat Add

-if @party.any? { |trainee| yours? trainee }
  #kill-search
    = form_with url: request.path, method: :get,
                data: { controller: "form-submission",
                        turbo_frame: "results",
                        turbo_action: "advance" } do |f|
      .input-field
        = f.label :q, "Search"
        = f.text_field :q, value: params[:q],
                       data: { action: "input->form-submission#searchSubmit" }
    .results
      = render "results", results: @search_results
