- trainees_show_title(@party).each do |size, title|
  - provide size, title

#trainees-show{"data-controller": "trainee ev goals"}
  #trainees
    -# We're listing this way so they appear in order specified by URL
    - @ids.each do |id|
      - if (trainee = @party.find_by id: id)
        = render trainee

  -if @party.any? { |trainee| yours? trainee }
    #kill-search
      = render "species/search_bar"
      .results
        = turbo_frame_tag :results, "data-controller": "slip" do
          - @search_results.each do |species|
            = render species, attrs: { class: "waves-effect waves-teal",
                                       data: { action: "click->ev#killButton slip:swipe->ev#killButton click->goals#check",
                                               **species.ev_yield } }

    %a#show-goals-btn.btn-floating.waves-effect.waves-light.red{data: { controller: "modal",
                                                                        action: "click->modal#open",
                                                                        target: "goal-alert" }}
      %i.material-icons checklist
    .fixed-action-btn{"data-controller": "floating-action"}
      %a#add-action-btn.btn-floating.btn-large.red
        %i.material-icons.large group_add
      %ul
        %li
          %a#add-to-party-btn.btn-floating.red{data: { controller: "modal", action: "click->modal#open",
                                                       target: "add-to-party-modal" }}
            %i.material-icons list
        %li
          -# This button's href is set on click by JavaScript
          %a#new-trainee-btn.btn-floating.red{"data-action": "click->trainee#addNew"}
            %i.material-icons add

    #goal-alert.modal
      .modal-content
        %h4#goal-alerts-title
        #goal-table
      .modal-footer
        %a#close-goal-alert.modal-close.waves-effect.waves-teal.btn-flat OK

    #add-to-party-modal.modal{"data-controller": "add-to-party"}
      .modal-content
        %h4 Add to party
        = render "list", trainees: @other_trainees
      .modal-footer
        %a#cancel-add-to-party.modal-close.waves-effect.waves-teal.btn-flat Cancel
        %a#confirm-add-to-party.modal-close.waves-effect.waves-teal.btn-flat{"data-action": "click->add-to-party#confirm"}
          Add

= render "shared/ads"

= hidden_field_tag "autocomplete-data", Species.autocomplete_data
