<p style="color: green"><%= notice %></p>

<%= render @trainee %>

<div>
  <%= link_to "Edit this trainee", edit_trainee_path(@trainee) %> |
  <%= link_to "Back to trainees", trainees_path %>

  <%= button_to "Destroy this trainee", @trainee, method: :delete %>
</div>
