= javascript_include_tag "sidenav_init"

%ul#mnav.sidenav.sidenav-fixed
  %li.expand
    %a.sidenav-trigger.hide-on-large-only{href: "#", "data-target": "nav-full"}
      %i#sidenav-expand.material-icons menu

%ul#nav-full.sidenav.sidenav-fixed{style: "transform: translateX(0px);"}
  %li.logo
    = link_to root_path, id: "logo-container", class: "waves-effect" do
      = image_tag "pokeball.svg", height: 120, id: "front-page-logo"
  - if logged_in?
    %li#profile-widget
      = link_to logout_path, float: "right" do
        %span{style: "float: left;"}= @current_user.username
        %span{style: "float: right;"} (click to logout)
  - else
    %li#sign-in
      %a.sign-in= render "layouts/google_sign_in_button"
  %hr
  %li.bold
    = link_to species_path, class: "waves-effect" do
      %i.material-icons fitness_center
      EV Yields
