= javascript_include_tag "collapsible_init"
= javascript_include_tag "sidenav_init"
= javascript_include_tag "waves_init"

%ul#mnav.sidenav.sidenav-fixed
  %li.expand
    %a.sidenav-trigger.hide-on-large-only{href: "#", "data-target": "nav-full"}
      %i#sidenav-expand.material-icons menu
  - @nav_links.each do |icon, path|
    = nav_link icon, path

%ul#nav-full.sidenav.sidenav-fixed{style: "transform: translateX(0px);"}
  %li.logo
    = link_to "/home", id: "logo-container", class: "waves-effect sidenav-close" do
      = image_tag "logo.svg", height: 120, id: "front-page-logo"
  - if logged_in?
    %ul.collapsible
      %li#profile-widget
        %a.collapsible-header.waves-effect= @current_user.username
        .collapsible-body
          %ul
            %li
              = link_to "Profile", user_path(@current_user)
            %li
              = link_to "Logout", "/logout"
  - else
    %li#sign-in
      %a.sign-in= render "layouts/google_sign_in_button"
  %hr
  - @nav_links.each do |icon, path, text|
    = nav_link icon, path, text
