!!! 5

%html
  %head
    %title PokéLog
    = favicon_link_tag asset_path "favicon.ico"

    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"

    = javascript_importmap_tags
    = javascript_include_tag "run_on_load"
    = javascript_include_tag "anychart"

  %body
    %header
      = render "layouts/topnav"
      = render "layouts/sidenav"
    %main
      .container
        .row
          = yield

    // Material UI JS
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"}
    = render "layouts/toast"
